<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<style>
  .logout-button {
      background-color: #f44336;
      color: #ffffff;
      padding: 5px 5px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
</style>
<body>
    <div class="container-fluid mt-1" style="display:flex;justify-content:center;background-color: #08afb4;">
        <h1>   SIMPLE CRUD OPERATION</h1>
        
    </div>
    <div style="display: flex; justify-content: flex-end;margin-right: 10px;">
      <a class="logout btn btn-danger mt-2" href="{% url 'login' %}">logout</a>
  </div>
  
    <div class="container mt-5">
        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
              <label class="form-label">SL.NO</label>
              <input type="text" class="form-control" name="slno" >
              
            <div class="mb-3">
              <label class="form-label">Item Name</label>
              <input type="text" class="form-control" name="itemname">
            </div>

            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" name="desc">
            </div>
            
            <button type="submit" class="btn btn-primary">create</button>
          </form>
    </div>
    <div>
      
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

    </div>
    <div class="container">
      <div class="row">
      <div class="col-md-2" >
        <h5 class="card-title">#</h5>
        </div>
        <div class="col-md-3">
          <b>Item Name</b>
        </div>
        <div class="col-md-5">
          <b>Desciption</b>
    </div>
    <div class="col-md-2">    
      <b>Action</b>
    </div>
      </div>
    </div>
    <div class="container">
      
      {% for i in task %}
      <div class="row">
        
        <div class="col-md-2 mt-3" >
          <h5 class="card-title">{{i.sl_no}}</h5>
          </div>
          <div class="col-md-3 mt-3">
          <b>{{i.item_name}}</b>
        </div>
          <div class="col-md-5 mt-3">
                <b>{{i.description}}</b>
          </div>
          <div class="col-md-2 mt-3">    
                <a class="btn btn-warning" href="{% url 'update' i.id %}">update</a>
                
                <a class="btn btn-danger" href="{% url 'delete' i.id %}">delete</a>
              </div>
             
              
        
      <br>
      
    </div>
    {% endfor %}
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>